@font-face {
    font-family: 'Montserrat-r';
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

 @font-face {
    font-family: 'Montserrat-m-i';
    src: url(~@/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf);
}
 
 @font-face {
    font-family: 'Montserrat-b';
    src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

 @font-face {
    font-family: 'Montserrat-x-b';
    src: url(~@/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

