//Colors
$yellow-0: #ffdd33;
$yellow-1: #ffc00a;
$yellow-2: #ffa602;
$yellow-3: #d89e00;

$orange-0: #fad09e;
$orange-1: #f5a23d;
$orange-2: #eb670f;
$orange-0: #e24104;

$red-0: #ff99aa;
$red-1: #ff3355;
$red-2: #eb21b3;
$red-3: #c60929;

$green-0: #b2df9c;
$green-1: #66bf39;
$green-2: #26890c;
$green-3: #106b03;

$teal-0: #99e5e5;
$teal-1: #33cccc;
$teal-2: #0aa3a3;
$teal-3: #028282;

$blue-0: #a2d1f2;
$blue-1: #45a3e5;
$blue-2: #1368ce;
$blue-3: #0542b9;

$purple-0: #c2a5df;
$purple-1: #864cbf;
$purple-2: #46178f;
$purple-3: #25076b;


// Breakpoints
$mobile-breakpoint: 460px;
$w-mobile-breakpoint: 610px;
$w2-mobile-breakpoint: 700px;
$narrow-breakpoint: 820px;

$normal-breakpoint: 1040px;
$desktop-breakpoint: 1300px;


//font
$fnt-montserrat-r: 'Montserrat-r';
$fnt-montserrat-m-i: 'Montserrat-m-i';
$fnt-montserrat-b: 'Montserrat-b';
$fnt-montserrat-x-b: 'Montserrat-x-b';

