.search {
    content: url("~@/assets/imgs/search.svg");
}

.prev-game-icon {
    content: url("~@/assets/imgs/game.svg");
}

.audience-icon {
    content: url("~@/assets/imgs/audience.svg");
}

.high-score-icon {
    content: url("~@/assets/imgs/score.svg");
}

.multy-player-icon {
    content: url("~@/assets/imgs/multyple-players.svg");
    width: 100px;
}


.single-player-icon {
    content: url("~@/assets/imgs/single-player.svg");
    width: 100px;
}

.false-icon {
    content: url("~@/assets/imgs/false.svg");
    width: 20px;
}

.black-false-icon {
    content: url("~@/assets/imgs/black-false-icon.svg");
    width: 20px;
}

.true-icon {
    content: url("~@/assets/imgs/true.svg");
    width: 30px;
}

.black-true-icon {
    content: url("~@/assets/imgs/black-true-icon.svg");
    width: 30px;
}

.triangular-icon {
    content: url("~@/assets/imgs/triangular.svg");
    width: 150px;
}

.circle-icon {
    content: url("~@/assets/imgs/circle.svg");
    border-radius: 50%;
}

.rectangle-icon {
    content: url("~@/assets/imgs/rectangle.svg");
}

.pentagon-icon {
    content: url("~@/assets/imgs/pentagon.svg");
}

.refresh-icon {
    content: url("~@/assets/imgs/refresh.svg");
}

.back-icon {
    content: url("~@/assets/imgs/back.svg");
}

.plus-white {
    content: url("~@/assets/imgs/plus-white.svg");
    width: 10px;
}

.up-arrow {
    content: url("~@/assets/imgs/up-arrow.svg");
}

.upload-icon {
    content: url("~@/assets/imgs/upload.svg");
}
